<!DOCTYPE html>
<html>
<head>
	<title>Login</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="../static/css/login.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="index.html">Movie_Mates</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="tags.html">Tags</a>
      <a class="nav-item nav-link" href="chatroom.html">Chat-Room</a>
      <a class="nav-item nav-link" href="{url}">Login</a>
    </div>
  </div>
</nav>

<input type='checkbox' id='form-switch'>
<form id='login-form' action="" method='post'  style="margin-top:100px">
  <input type="text" placeholder="Username" required>
  <input type="password" placeholder="Password" required>
  <button type='submit'>Login</button>
  <label for='form-switch'><span>Register</span></label>
</form>
<form id='register-form' action="" method='post'  style="margin-top:100px">
  <input type="text" placeholder="Username" required>
  <input type="email" placeholder="Email" required>
  <input type="password" placeholder="Password" required>
  <input type="password" placeholder="Re Password" required>
  <button type='submit'>Register</button>
  <label for='form-switch' class="text-primary text-center">Already Member ? Sign In Now.</label>
</form>

</body>
</html>